*{
    font-family: 'Work Sans', sans-serif;
}
header{
    background: url(./6I5yTD.webp),linear-gradient(rgba(0, 0, 0, 0.975),rgba(0, 0, 0, 0.511));
}
#comment{
    background:linear-gradient(rgba(0, 0, 0, 0.566),rgba(0, 0, 0, 0.511)), url(./effective-teams.webp);
}